@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Noto+Sans:wght@400;700&display=swap');

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root,
body,
html {
  background-color: #fffefe;
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul,
input,
input::placeholder {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body,
input,
span,
textarea {
  font-family: 'Montserrat', sans-serif;
}
